<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ object.title}}}" />
    <meta property="og:description" content="{{ object.description }}" />
    <meta property="og:image" content="{{ object.image }}" />
    <meta property="og:url" content="https://www.dev-tim.com{{ request.get_full_path }}" />
    <meta property="og:image" content="artcle" />
    
    <title>
        {% if object.title %}
        {{ object.title }}
        {% else %}
        Clever Title 
    {% endif %}</title>
    <meta >
    {% load fontawesome_5 %}
    {% fontawesome_5_static %} 
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.min.css' %}">
</head>

<body class=bg-gray-200 >
    <div class="h-screen md:bg-gray-200">
    <div class="container mx-auto ">
    {% include 'nav.html' %}
    <div class="flex-column justify-center align-center ">
    
    {% block content %} {% endblock %}

</div>
</div>
</div>

    {% block second %}{% endblock %}

    


    <script src="{% static '/js/main.js' %}"></script>
</body>
</html>