<nav class="flex flex-col md:w-2/3 sm:w-full sm:flex-row mx-auto justify-center md:space-x-8 my-4 text-lg
           md:py-6 md:space-y-0 space-y-1 shadow-md sm:py-3 ">
    <button class="bg-gray-600  md:w-2/12 wpx-3 text-gray-100 py-1 mx-4 hover:bg-red-300 rounded-md
    transition duration-500 ease-in-out">
        <a class="" href="{% url 'home' %}">home</a>
    </button>
    <button class="bg-gray-600 md:w-2/12 px-3 text-gray-100 py-1 mx-4 hover:bg-blue-300 rounded-md
    transition duration-500 ease-in-out">
        <a href="{% url 'contact' %}">contact</a>
    </button>
    <button class="bg-gray-600 px-3 md:w-2/12 text-gray-100 py-1 mx-4 hover:bg-blue-300 rounded-md
    transition duration-500 ease-in-out">
        <a href="{% url 'about' %}">about</a>
    </button>
    <button class="bg-gray-600 md:w-2/12 px-3 text-gray-100 py-1 mx-4 hover:bg-red-300 rounded-md
    transition duration-500 ease-in-out sm:mb-2">
        <a id="blog-lists"  href="{% url 'blog:list' %}">blog</a>
    </button>


    
    </div>
</nav>

